@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  padding: 0.75rem 1.5rem;
  background: var(--primary);
  color: var(--gray-darkest);
  border: none;
  display: inline-block;
  font-weight: 800;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 0.5rem;
}
.button:focus {
  box-shadow: 0 0 0 3px rgb(174 204 83 / 50%);
}

.button.secondary {
  background: transparent;
}
.button.secondary:hover {
  background: var(--gray-lightest);
}
.button.secondary:focus {
  box-shadow: 0 0 0 3px rgba(140, 140, 140, 0.5);
}

.button.icon {
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-lightest);
  color: var(--gray-darkest);
  transition: all 0.2s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
}
