<div class="wrapper">
    <div id="searchbox"></div>
    <div id="hits"></div>
  </div>
  
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js"
    integrity="sha256-dImjLPUsG/6p3+i7gVKBiDM8EemJAhQ0VvkRK2pVsQY="
    crossorigin="anonymous"
  ></script>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.1/dist/instantsearch.production.min.js"
    integrity="sha256-3s8yn/IU/hV+UjoqczP+9xDS1VXIpMf3QYRUi9XoG0Y="
    crossorigin="anonymous"
  ></script>
  <script is:inline>
    console.log(import.meta.env.ALGOLIA_APP_ID)
    const search = instantsearch({
      indexName: 'Insights - SoGS',
      searchClient: algoliasearch(
        import.meta.env.ALGOLIA_APP_ID,
        import.meta.env.ALGOLIA_SEARCH_ONLY_API_KEY
      ),
    })
    search.addWidgets([
      instantsearch.widgets.searchBox({
        container: '#searchbox',
      }),
  
      instantsearch.widgets.hits({
        container: '#hits',
        templates: {
          item: `
            <a href='/{{#helpers.highlight}}{ "attribute": "slug" }{{/helpers.highlight}}/'>
              <h2 class="hit-name">
                {{#helpers.highlight}}{ "attribute": "title" }{{/helpers.highlight}}
              </h2>
              <p>{{#helpers.highlight}}{ "attribute": "content" }{{/helpers.highlight}}...</p>
            </a>
        `,
        },
      }),
    ])
    search.start()
  </script>