---
import Layout from "../../layouts/Layout.astro";
import Form from "../../components/Form.astro";
---

<Layout>
  <h1 class="container">Thank you so much for completing the survey!</h1>
  <Form
    containerClass="signup"
    title="Sign up below if want access when it's released"
  />

  <div class="container social-wrapper">
    <h2 class="title">
      Share this with friends, family members or on social media
    </h2>
    <div class="social">
      <a
        href="mailto:?subject=Do%20you%20want%20to%20make%20a%20difference%20for%20the%20environment?&body=State%20of%20Green%20Software%20is%20the%20first%20report%20to%20map%20the%20green%20software%20ecosystem,%20from%20key%20stakeholders%20to%20regulatory%20frameworks,%20from%20impact%20metrics%20to%20academic%20literature,%20open%20source%20tooling%20to%20actionable%20design%20patterns.%0A%0AYou%20can%20help%20make%20a%20difference%20by%20taking%20the%205%20minute%20survey%20and%20contributing%20your%20knowledge.%20Your%20input%20will%20help%20us%20develop%20a%20better%20understanding%20of%20how%20we%20can%20reduce%20CO2%20emissions%20by%20developing%20green%20software.%0A%0A%0AClick%20this%20link%20and%20take%20the%20survey%20now!%20https%3A//stateof.greensoftware.org"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/images/mail.svg" alt="Mail" />
      </a>
      <a
        href="https://twitter.com/intent/tweet?text=You%20can%20help%20make%20a%20difference%20by%20taking%20the%205%20minute%20survey%20and%20contributing%20your%20knowledge%20to%20the%20State%20Of%20Green%20Software%20Report.%20Take%20the%20survey%20now!%20https%3A//stateof.greensoftware.org"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/images/twitter.svg" alt="Twitter" />
      </a>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A//stateof.greensoftware.org"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/images/facebook.svg" alt="Facebook" />
      </a>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//stateof.greensoftware.org"
        target="_blank"
        rel="noopener noreferrer"
        ><img src="/images/linkedin.svg" alt="LinkedIn" />
      </a>
    </div>
  </div>
  <div class="separator">
    <img src="/images/separator.svg" alt="" />
  </div>
  <div class="learn-wrapper">
    <h2 class="title">Take our free Green Software Practitioner Training</h2>
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="button"
      href="https://learn.greensoftware.org"
    >
      Take the training</a
    >
  </div>
</Layout>
<style>
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    justify-content: space-between;
  }
  .social-wrapper {
    margin-bottom: 2rem;
  }
  .social {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .title {
    text-align: center;
  }
  .social img {
    width: 2rem;
    height: 2rem;
  }
  .separator {
    margin: 2rem 0;
  }
  .separator img {
    margin: auto;
  }
  .learn-wrapper {
    text-align: center;
    margin-bottom: 2rem;
  }
</style>
