<section class="container">
  <div>
    <h1 class="title">How can you benefit?</h1>
    <p>
      Stay on top of everything that is going on globally in the green software
      space.
    </p>
    <p>The report will give you insights into:</p>
    <ul>
      <li>
        The level of awareness, adoption, friction and enablers of green
        software from the perspective of both software developers and key
        decision makers.
      </li>
      <li>
        The state of the art in environmental impact metrics for digital
        products
      </li>
      <li>Actionable patterns and tools for decarbonising software</li>
      <li>
        The commercial, regulatory and technological business case for green
        software
      </li>
      <li>Who is who in the green software ecosystem</li>
      <li>Where to access green software education and skills</li>
    </ul>
  </div>
  <div class="img-wrapper">
    <img src="/images/benefit.svg" alt="Green Benefits" />
  </div>
</section>
<style>
  section {
    margin-bottom: 4rem;
  }
  p {
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  li {
    display: grid;
    grid-template-columns: 1.25rem 1fr;
    align-items: flex-star;
    gap: 0.5rem;
  }
  li:before {
    content: " ";
    background: url(/images/bullet.svg) no-repeat;
    background-size: contain;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
  }
  .img-wrapper {
    display: none;
  }
  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: end;
      gap: 5.5rem;
      margin-bottom: 12rem;
    }
    .img-wrapper {
      display: block;
    }
  }
</style>
