<section class="container">
  <div class="img-wrapper">
    <img
      src="images/hero-illustration.svg"
      alt="State of 
        Green Software report"
    />
  </div>
  <div>
    <h1>State of <br />Green Software report</h1>
    <p>
      The State of Green Software will be the first report to map the new green
      software ecosystem, from key stakeholders to regulatory frameworks, from
      impact metrics to academic literature, open source tooling to actionable
      design patterns.
    </p>
    <p>
      If you’re a software practitioner, you can <span class="text-primary">
        contribute to the 5 minute survey</span
      >.
    </p>
    <a class="button" href="#"> Take the survey now</a>
  </div>
</section>
<style>
  section {
    margin-bottom: 4rem;
  }
  .img-wrapper {
    margin-bottom: 2rem;
  }
  img {
    margin: 0 auto;
    width: 180px;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  p {
    margin-bottom: 1rem;
  }
  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr 342px;
      gap: 2rem;
      align-items: end;
      margin-bottom: 5rem;
    }
    .img-wrapper {
      margin-bottom: 0;
      order: 2;
    }
    img {
      width: 100%;
    }
    h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  @media (min-width: 1024px) {
    section {
      gap: 15rem;
    }
  }
</style>
