<section class="container">
  <div class="img-wrapper">
    <img src="/images/information.svg" alt="Information" />
  </div>
  <div>
    <h1 class="title">What kind of information are we looking for?</h1>
    <p>
      The report includes questions on several green software topics. They cover
      awareness and relevance of green software at the marketplace, existing
      roadblocks and pain points, available and desirable tooling as well as
      training and knowledge resources in the field of green software.
    </p>
    <a href="#" class="button">Take the survey now</a>
  </div>
</section>
<style>
  section {
    margin-bottom: 4rem;
  }
  .img-wrapper {
    margin-bottom: 2rem;
  }
  .img-wrapper img {
    margin: auto;
  }
  p {
    margin-bottom: 2rem;
  }
  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: 2rem;
      margin-bottom: 7rem;
    }
  }
</style>
