<section class="container">
  <div class="img-wrapper">
    <img src="/images/information.svg" alt="Information" />
  </div>
  <div>
    <h1 class="title">
      Want to stay ahead of the curve in the green software space?
    </h1>
    <p>
      Green software is growing in popularity, with developers and key decision
      makers alike recognizing its potential to make a positive impact on the
      environment. Our report will give you an in-depth look at everything that
      is happening in this exciting field.
    </p>
    <p>
      You’ll gain insights into how to make your software more environmentally
      friendly, as well as learn about the business case for green software.
      Plus, we cover who is who in the green software ecosystem so you can
      connect with the right people and organizations.
    </p>
    <a href="https://grnsft.org/sogs/survey" class="button"
      >Take the survey now</a
    >
  </div>
</section>
<style>
  section {
    margin-bottom: 4rem;
  }
  .img-wrapper {
    margin-bottom: 2rem;
  }
  .img-wrapper img {
    margin: auto;
  }
  p {
    margin-bottom: 2rem;
  }
  @media (min-width: 768px) {
    section {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: 2rem;
      margin-bottom: 7rem;
    }
  }
</style>
