---
import { languages } from "../i18n/ui";
---

<ul class="text-xs flex justify-end mb-2 gap-2">
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}/`}>{label}</a>
      </li>
    ))
  }
</ul>
