<section class="container">
  <div class="separator">
    <img src="/images/separator.svg" alt="" />
  </div>
  <div class="content">
    <h1 class="title">Do you want to help make a difference in the world?</h1>
    <p>
      We are looking for developers like you to take our survey and help us
      understand what needs to happen to empower technologists to make a global
      difference. We need your input!
    </p>
    <p>
      By filling out the 5 min survey, you will be helping us create the first
      report on green software that will map the new green software ecosystem.
      This report will identify key stakeholders, regulatory frameworks, impact
      metrics and more. You could be part of something amazing and make a real
      impact!
    </p>
    <a class="button" href="https://grnsft.org/sogs/survey">
      Take the survey now</a
    >
  </div>
</section>
<style>
  section {
    margin-bottom: 4rem;
  }
  .separator {
    margin: 4rem 0;
  }
  .separator img {
    margin: auto;
  }
  .content {
    max-width: 686px;
    margin: 0 auto;
  }
  p {
    margin-bottom: 2rem;
  }
  @media (min-width: 768px) {
    section {
      border-radius: 6rem 0px;
      position: relative;
      margin-bottom: 6rem;
    }
  }
</style>
