---
const data = [
  {
    image: "/images/developers.svg",
    text: "Developers seeking to measure and improve the carbon footprint of their software",
  },
  {
    image: "/images/business.svg",
    text: "Business, technical and product leaders making investment decisions, technology choices and strategic calls",
  },
  {
    image: "/images/institutions.svg",
    text: "Guiding institutions and thought leaders setting global and national standards, regulations and policy objectives",
  },
];
---

<section class="container">
  <h1 class="title">Who should read this report?</h1>

  <div class="items-wrapper">
    {
      data.map((item) => (
        <div class="item">
          <img src={item.image} alt="Icon" />
          <p>{item.text}</p>
        </div>
      ))
    }
  </div>
</section>
<style>
  section {
    margin-bottom: 4rem;
  }

  .text {
    margin-bottom: 2rem;
  }
  .items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .item {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  @media (min-width: 768px) {
    section {
      margin-bottom: 10rem;
    }
    .item {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
    .items-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
