---
const { frontmatter } = Astro.props;
import InsightCard from "../components/InsightCard.astro";
import Form from "../components/Form.astro";
const { title, image } = frontmatter;
import "../styles/tailwind.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>State of Green Software</title>
    <meta name="title" content="State of Green Software" />
    <meta
      name="description"
      content="The State of Green Software will be the first report to map the new green software ecosystem, from key stakeholders to regulatory frameworks, from impact metrics to academic literature, open source tooling to actionable design patterns."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://stateof.greensoftware.foundation/"
    />
    <meta property="og:title" content="State of Green Software" />
    <meta
      property="og:description"
      content="The State of Green Software will be the first report to map the new green software ecosystem, from key stakeholders to regulatory frameworks, from impact metrics to academic literature, open source tooling to actionable design patterns."
    />
    <meta
      property="og:image"
      content="https://stateof.greensoftware.foundation/images/og-image.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://stateof.greensoftware.foundation/"
    />
    <meta property="twitter:title" content="State of Green Software" />
    <meta
      property="twitter:description"
      content="The State of Green Software will be the first report to map the new green software ecosystem, from key stakeholders to regulatory frameworks, from impact metrics to academic literature, open source tooling to actionable design patterns."
    />
    <meta
      property="twitter:image"
      content="https://stateof.greensoftware.foundation/images/og-image.png"
    />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4X7F9S319R"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // @ts-ignore: Unreachable code error
        dataLayer.push(arguments);
      }
      // @ts-ignore: Unreachable code error
      gtag("js", new Date());
      // @ts-ignore: Unreachable code error
      gtag("config", "G-4X7F9S319R");
    </script>
  </head>
  <body>
    <div class="max-w-3xl mx-auto px-8">
      <header>
        <a href="/"> <img src="/images/logo-alt.svg" alt="SoGS Logo" /></a>
      </header>
      <InsightCard title={title} />
      <div class="main-img-wrapper">
        <img src={`/images/insights/${image}`} alt="" srcset="" />
      </div>
      <article class="prose max-w-none">
        <slot />
      </article>
      <Form title="Sign up to receive the report" />
      <footer>
        <div class="logo">
          <img src="/images/logo-gsf-colored.svg" alt="GSF Logo" />
        </div>
        <div class="links">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://greensoftware.foundation/policy/terms"
            >Privacy Policy</a
          > | <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://greensoftware.foundation/code-of-conduct"
            >Code of Conduct</a
          >
        </div>
        <p class="copyrights">
          Copyright © {new Date().getFullYear()} Joint Development Foundation Projects,
          LLC, <br />
          Green Software Foundation Series
        </p>
      </footer>
    </div>
    <style>
      :root {
        --primary: #aecc53;
        --primary-lightest-2: #f4f6f8;

        --secondary: #006d68;
        --secondary-lightest-2: #fbfcf6;

        --gray-darkest: #1e1e1e;
      }
      body {
        background-color: var(--secondary-lightest-2);
      }
      header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 2rem;
      }
      .main-img-wrapper {
        margin-bottom: 2rem;
      }
      .main-img-wrapper img {
        border-radius: 0.5rem;
      }
      footer {
        text-align: center;
        padding: 2rem 4rem;
      }
      footer img {
        margin: auto;
      }
      footer .logo {
        width: 120px;
        margin: auto;
        margin-bottom: 16px;
      }
      footer .links {
        margin-bottom: 8px;
      }
      footer .links a {
        color: inherit;
        font-size: 12px;
      }
      footer .copyrights {
        font-size: 12px;
      }
    </style>
  </body>
</html>
