---
import Layout from "./Layout.astro";
---

<Layout>
    <h1 class="text-center text-secondary font-bold text-3xl mt-16 mb-8">Methodology</h1>
    <article class="prose max-w-4xl mx-auto">
        <slot />
    </article>
</Layout>
